$keyP: #ED0336;
$fontC1: #fff;
$fontC2: #333;
$fontC3: #666;
$fontC4: #f2f2f2;
$fontC5: #999;
$fontC6: #fbfbfb;

// font-size
$fS1: 12px;
$fS2: 14px;
$fS3: 16px;
$fS4: 18px;
$fS5: 20px;
$fS6: 22px;

// background-color
$themeC: #fff;
$opcityC: rgba(0, 0, 0, 0.5)
